
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body{
  font-family: 'montserrat', sans-serif;
  width: 100%;
}
.App{
  background-image: url("./img/biopark.jpg");
  background-size:cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75))
}
.caixa-pesquisa{
  width: 100%;
  margin: 0 auto 100px;
}
.caixa-pesquisa .barra-pesquisa {
  margin-top:5%;
  display:absolute;
  width: 50%;
  padding: 15px;
  appearance: none;
  background:none;
  background-color:rgba(255,255,255,0.57);
  border:5px 5px 5px 5px;
  box-shadow: 8px 5px rgba(0,0,0,0.2);
  color: #313131;
  font-size:20px;
  transition :0.4s ease;
}
.data{
  margin-top: 2%;
  font-size: 25px;
  color: #E0E0E2;

}
.caixa-localizacao .localizacao{
  color:#FFF;
 font-size:32px;
 font-weight: 500;
 text-align: center;
 text-shadow: 3px 3px rgba(50,50,70,0.5);

}
 
.caixa-tempo{
  text-align: center;
}

.caixa-tempo .temperatura {
  position: relative;
  display: inline-block;
  margin:30px auto;
  background-color:rgba(255,255,255,0.2);
  padding: 15px 25px;
  color:#FFF;
  font-size:102px;
  font-weight: 900;
  text-shadow:  3px 6px rgba(50,50,70,0.5);
  text-align: center; 
}
.caixa-tempo .tempo{
  color:#FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}